.App {
  font-family: sans-serif;
  text-align: center;
  padding: 1rem 10rem;
  margin: 0rem auto;
  max-width: 550px;
  width: 85%;
  background-color: lightgreen;
  border-radius: 1rem;
}
.listItem {
  background-color: lightgrey;
  width: 5rem;
  text-align: center;
  border-radius: 1rem;
  margin: 0.5rem;
}
